/* #ifdef MP */
:host {
  flex-shrink: 0;
  box-sizing: border-box;
  width: 100%;
}
/* #endif */

.l-tab__panel {
	width: 100%;
	/* #ifdef UNI-APP-X */
	flex: 1;
	/* #endif */
	flex-shrink: 0;
	box-sizing: border-box;
	/* #ifndef APP-ANDROID || APP-IOS */
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
    /* #endif */
  // &--active {
  //   height: auto;
  // }

  // &--inactive {
  //   height: 0;
  //   overflow: visible;
  // }
}
